@charset "UTF-8";

* {
   font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #77F2C1,#BFF2DE );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #305144;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #597067;
    text-align: center;
    text-shadow:1px 1px 2px #02150d;
}

h2 {
    color: #5CBD96;
}

p {
    text-align: justify;
}
